fetch-retries=2
fetch-timeout=30000
loglevel=info
phantomjs_cdnurl=https://bitbucket.org/ariya/phantomjs/downloads
prefer-offline=false
#registry=https://xueyingying.com:4873/
sass_binary_site="https://registry.npmmirror.com/binary.html?path=node-sass"
strict-ssl=false
tmp=/tmp
